.top{
  background-color:black;
  font-family:arial;
}
h1{
  text-align:center;
  color:white;
  font-size:250%;
}
h2{
  color:white;
  text-align:center;
  font-size:150%;
}
h3{
  font-size:150%;
  font-family:arial;
}
p{
font-size:120%;
}
a{
  font-size:200%;
}
